<div class="container">
  <div class="row">
    <div class="col">
      <img src="/assets/images/ima.jpg" class="logo" />
      <div class="container-fluid main">
          <div class="row">
            <div class="col">Menu</div>
          </div>
          <div class="row">
            <div class="col">Header</div>
          </div>
        </div>
    </div>
  </div>
</div>
