<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Title
      </div>
      <div class="card-body">
        Stuff
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Title
      </div>
      <div class="card-body">
        Stuff
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Title
      </div>
      <div class="card-body">
        Stuff
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Title
      </div>
      <div class="card-body">
        Stuff
      </div>
    </div>
  </div>
</div>
